* {
  margin: 0;
  padding: 0;
}
.verticalLine {
  border-left: 2px solid black;
  height: 50px;
}
.searchInputField {
  margin-left: 20px !important;
  background-color: white;
  border-radius: 5px;
  border: 0px;
}
.row {
  display: flex;
  width: 100%;
  margin: auto;
}

.todoColumn {
  width: 30%;
  margin: 20px auto;
  border: 2px solid gray;
  border-radius: 10px;
  box-shadow: 3px;
}
.card {
  width: 95%;
  margin: 20px auto;
  transition: 0.2s;
}
.card:hover {
  box-shadow: 0 0 3px gray;
  transform: scale(1.02);
}
.dialogContent {
  min-width: 400px;
}
.phoneMode {
  display: none !important;
}
.noTabMode {
  display: none !important;
}
@media (max-width: 900px) {
  .todoColumn {
    width: 90%;
  }
  .card {
    width: 90%;
  }
  .noTabMode {
    display: none !important;
  }
  .phoneMode {
    display: none !important;
  }
}
@media (max-width: 600px) {
  .header img {
    width: 100px;
  }
  .header h2 {
    font-size: 20px;
  }
  .dialogContent {
    width: 100%;
  }
  .noPhoneMode {
    display: none !important;
  }
  .phoneMode {
    display: block !important;
    margin-bottom: 20px !important;
  }
}
